---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

// const posts = await getCollection("blog");

// const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">

      <div class="text-base text-orange-700 mb-4 text-center animate-fadeIn">
        <h1 class="text-2xl font-bold mb-4">Open to Opportunities !</h1>
      </div>  

      <div class="mt-4 text-center">
        Let's connect! Find my resume and reach out with the links below:
        {socialCount > 0 && (
          <div class="mt-4 text-center">
        <Socials />
          </div>
        )}
      </div>
      
      <br>
      <Hr />

      <section id="about" class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">About Me</h2>
        <p class="text-black-700 text-justify leading-relaxed">
            Hey there! I'm <span class="text-orange-600 font-medium">Quentin</span>, an AI enthusiast with a passion for pushing the boundaries of Machine Learning and Deep Learning. With a dual MSc in AI from <span class="font-bold">Tsinghua University</span> & <span class="font-bold">Telecom SudParis</span>, I thrive at the intersection of research and real-world applications. My work spans cutting-edge areas like Large Language Models, Autonomous Agents, and AI safety, combining technical depth with hands-on innovation. Whether it's building intelligent systems, optimizing AI models, or crafting impactful solutions, I'm all about leveraging AI to make a difference.
        </p>
    </section>
    
    <section id="goals" class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">What I'm Looking For</h2>
        <p class="text-black-700 text-justify leading-relaxed">
            With a strong foundation in AI research and engineering, I'm actively seeking <span class="text-orange-600">full-time opportunities</span> in AI, spanning <span class="text-orange-600">applied</span>, <span class="text-orange-600">research</span>, or <span class="text-orange-600">hybrid</span> roles. Ideally, I'm looking to contribute in <span class="text-orange-600">Europe</span>, especially <span class="text-orange-600">France</span>, where I can collaborate with forward-thinking teams on groundbreaking AI projects. I thrive in dynamic environments that embrace innovation and technical challenges, and I’m eager to apply my expertise to build intelligent, scalable, and impactful AI-driven solutions. If you’re working on something exciting in AI, let’s connect and create something amazing together!
        </p>
    </section>
    

      <section id="availability" class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Availability</h2>
        <p class="text-black-700">Ready to start <span class="text-orange-600 font-medium">ASAP</span> following the completion of my internhip @Apple.</p>
      </section>
      
      <br>
      <Hr />

      <section id="publications" class="mt-8">
        <h2 class="text-2xl font-semibold mb-6">Publications</h2>
        <ul class="space-y-6">
          <li class="p-4 rounded-2xl bg-gray-400 shadow-sm bg-opacity-30">
        <a href="https://arxiv.org/abs/2405.19026" class="text-lg font-medium text-black-600 hover:text-orange-600">DiveR-CT: Diversity-enhanced Red Teaming Large Language Model Assistants with Relaxing Constraints</a>
        <span class="text-sm text-black-800 block mt-2"><i>Andrew Zhao, <span class="text-orange-600 font-medium">Quentin Xu</span>, Matthieu Lin, Shenzhi Wang, Yong-jin Liu, Zilong Zheng, Gao Huang</i></span>
        <span class="text-sm text-black-700 block mt-2"><i>Thirty-Ninth AAAI Conference on Artificial Intelligence (AAAI 2025) (<span class="text-orange-600 font-medium">Oral</span>)</i></span>
        <div class="flex justify-center space-x-4 mt-4 text-sm">
          <a href="https://arxiv.org/abs/2405.19026" class="text-black-600 hover:text-orange-600">Paper 📄</a>
          <a href="https://github.com/LeapLabTHU/diver-ct" class="text-black-600 hover:text-orange-600">Code 💻</a>
        </div>
          </li>
          <li class="p-4 rounded-2xl bg-gray-400 shadow-sm bg-opacity-30">
        <a href="https://arxiv.org/abs/2308.10144" class="text-lg font-medium hover:text-orange-600">ExpeL: LLM Agents Are Experiential Learners</a>
        <span class="text-sm text-black-700 block mt-2"><i>Andrew Zhao, Daniel Huang, <span class="text-orange-600 font-medium">Quentin Xu</span>, Matthieu Lin, Yong-Jin Liu, Gao Huang</i></span>
        <span class="text-sm text-black-700 block mt-2"><i>Thirty-Eigth AAAI Conference on Artificial Intelligence (AAAI 2024) (<span class="text-orange-600 font-medium">Oral</span>)</i></span>
        <div class="flex justify-center space-x-4 mt-4 text-sm">
          <a href="https://arxiv.org/abs/2308.10144" class="text-black-600 hover:text-orange-600">Paper 📄</a>
          <a href="https://github.com/LeapLabTHU/ExpeL" class="text-black-600 hover:text-orange-600">Code 💻</a>
        </div>
          </li>
        </ul>
      </section>
      
    
    

      <!-- <p>
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p> -->
    <br>
    <br>

    <Hr />
<!-- 
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main> -->

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  
</style>
